primary-color = #A2A2A7
link-color = #0A84FF
bg = #292B30

@font-face
   font-family SCP
   font-style normal
   src url('./assets/fonts/SourceCodePro/Source Code Pro Light for Powerline.otf')

body
  font-family: SCP	
  margin: 0
  padding: 0
  color: primary-color
  background-color: bg

a
	color: link-color

.container
	display: flex
	flex-direction: column

.content
	display: flex
	justify-content: center
	
.page
	margin-top: 5%
	display: flex